@page
@model HAS.Registration.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h1>MyPractice.Yoga Forgot Password Confirmation</h1>
<p>
    If your email is in our system, we will send you a reset link to your email. Please check your email to reset your password.
</p>

