@page
@model HAS.Registration.InviteStudentsModel
@{
    ViewData["Title"] = "InviteStudents";
}

<h1>Invite Students</h1>


<form method="post">
    <button type="submit">Registration Complete</button>
</form>