@page
@model HAS.Registration.SetBillingInfoModel
@{
    ViewData["Title"] = "SetBillingInfo";
}

<h1>SetBillingInfo</h1>

<form method="post">
    <button type="submit">To Invite Students</button>
</form>
