@page
@model HAS.Registration.SetRateModel
@{
    ViewData["Title"] = "Set Your Base Rate";
}
<div class="row">
    <div class="col">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" class="form-horizontal" role="form">

            <h4>Set your Base Rate</h4>
            <small>Set the base rate you will charge for your class.</small>

            <div class="alert alert-success" role="alert" id="beta-note">
                <strong>Why can't you set the base rate?!?</strong> Remember! We are in beta! When we get get the ability to charge for classes, this will be enabled. This page is where instructors would set the rate for their class. For now, the beta classes are default to $0.00. -Aarron
            </div>

            <hr />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Data.Rate"></label>
                        <input asp-for="Data.Rate" placeholder="Instructor First Name" class="form-control" readonly />
                        <span asp-validation-for="Data.Rate" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="hidden" asp-for="Data.InstructorId" />
                    <input type="hidden" asp-for="Data.ProfileId" />
                    <input type="hidden" asp-for="Data.UserId" />
                    <input type="hidden" asp-for="Data.FirstName" />
                    <input type="hidden" asp-for="Data.LastName" />
                    <input type="hidden" asp-for="Data.Email" />
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>

