@page
@model HAS.Registration.SetRateModel
@{
    ViewData["Title"] = "Set Your Base Rate";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Base Rate</h1>
    <p class="lead">Set the base rate you will charge for your class.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
       
            <div class="card-footer">

                <form method="post">
                    <button type="submit" class="btn btn-lg btn-block">Set Base Rate</button>

                </form>
            </div>
        </div>
    </div>
</div>

