@page
@model HAS.Registration.Pages.IndexModel
@{
    ViewData["Title"] = "My Practice";
}

<div class="container">
    <div class="row text-center" style="height: 90vh">
        <div class="col my-auto">
            <h1 class="display-4">Welcome to My Practice</h1>
            <p>Beta v1 - Razor</p>
        </div>
    </div>
</div>

